{% if include.state %}
  {% assign providers = site.data.providers | where:"state",include.state %}
{% else %}
  {% assign providers = site.data.providers %}
{% endif %}

{% for provider in providers %}

  <h4 class="providers_header">
    {% if include.color %}
      <span style="color: {{ include.color }}">{{ provider.name }}</span>
    {% else %}
      {{ provider.name }}
    {% endif %}
  </h4>

  {% if provider.note %}
  <p>
    <em>Note: {{ provider.note }}</em>
  </p>
  {% endif %}
  
  <div class="providers_list">
    <ul class="social-icons">
      
      {% if provider.address %}
      <li>
        <a href="https://www.google.com/maps/search/{{ provider.address }}" itemprop="url">
          <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
          {{ provider.address }}
        </a>
      </li>
      {% endif %}
      
      {% if provider.url %}
      <li>
        <a href="{{ provider.url }}" itemprop="url">
          <i class="fa fa-fw fa-chain" aria-hidden="true"></i>
          Visit {{ provider.name }} Website
        </a>
      </li>
      {% endif %}

      {% if provider.phone %}
      <li>
        <i class="fa fa-fw fa-phone-square" aria-hidden="true"></i>
        {{ provider.phone }}
      </li>
      {% endif %}

      {% if provider.medical %}
      <li>
        <i class="fa fa-fw fa-medkit" aria-hidden="true"></i>
        <strong>Medical:</strong>
        {{ provider.medical }}
        {% if provider.medical_cost %}
        &mdash; <strong>{{ provider.medical_cost }}</strong>
        {% endif %}
      </li>
      {% endif %}

      {% if provider.surgical %}
      <li>
        <i class="fa fa-fw fa-user-md" aria-hidden="true"></i>
        <strong>Surgical:</strong>
        {{ provider.surgical }}
        {% if provider.surgical_cost %}
        &mdash; <strong>{{ provider.surgical_cost }}</strong>
        {% endif %}
      </li>
      {% endif %}
      
    </ul>
  </div>
{% endfor %}
